.notification {
	@include flex-mother();
	margin: 4rem auto;
	text-align: center;
	width: 60%;
	@include mediaQuery(map-get($breakpoints-map, '576')) {
		width: 80%;
		flex-direction: column;
	}
	&__input {
		flex-grow: 2;
		height: 5rem;
		padding-left: 2rem;
		margin-right: 2rem;
		border-radius: 3rem;
		border: 1px solid var(--clr-neutral-gray);
		font-family: inherit;
		font-size: 1.4rem;
		@include mediaQuery(map-get($breakpoints-map, '576')) {
			width: 100%;
			margin: 0 0 2rem 0;
		}
	}
}
