.heading__primary {
	font-size: 3.8rem;
	letter-spacing: 1px;
	margin-bottom: 2rem;
	font-weight: 300;
	color: var(--clr-neutral-gray);
	&--addition {
		font-weight: 700;
		color: var(--clr-neutral-very-dark-blue);
	}
	@include mediaQuery(map-get($breakpoints-map, '576')) {
		font-size: 2.8rem;
	}
}
.heading__secondary {
	font-size: 2rem;
	font-weight: 300;
	@include mediaQuery(map-get($breakpoints-map, '576')) {
		font-size: 1.8rem;
	}
}

.paragraph {
	font-size: 1.4rem;
	color: var(--clr-neutral-gray);
}
